<!DOCTYPE html>
<html lang="en">
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4446cd4099.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <style>
        .fx{
            background-color:grey;
            width:100%;
            height:150px;
        }
        .fy{
            background-color:off-white;
            width:100%;
            height:50px;
        }
        label,a,ul,li{
            display: inline;
        }
        ul{
            margin-left:1000px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <div class="fx">
       <center>
        <h3 id="fx1">Jobs Guru</h3>
        <h5 id="fx2">Jobs guru is a website where you will find your dream jobs that make you complete in life..!</h5>
        <i id="fx5"class="fa-brands fa-twitter-square fa-2x"></i>
        <i id="fx6"class="fa-brands fa-facebook fa-2x"></i>
        <i id="fx7"class="fa-brands fa-instagram fa-2x"></i>
        <i id="fx8"class="fa-brands fa-google-plus-g fa-2x"></i>
        <i id="fx9"class="fa-brands fa-linkedin fa-2x"></i>
         </center>
    </div>
    <div class="fy">
        <label id="fy1">Copyright @2022</label>
        <a id="fy2" href="#">jobsguru.com</a>
        <ul type="none">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>


    </div>

</body>
</html>