<!DOCTYPE html>
<html lang="en">
<head>
     <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/4446cd4099.js" crossorigin="anonymous"></script>
    <style>
         body{
            background-image:url(https://img.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_53876-140726.jpg?w=2000);
            background-repeat: no-repeat;
            background-size:cover;
        }
        #ft{
            margin-top:500px;
        }
    </style>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% include 'navbar.html' %}
</div>
<div id="x">
    <center>
        <h1 style="font-family:cursive;">Company registration successful...!</h1>
    </center>
</div>
<div id="ft">
    {% include 'footstrip.html' %}
</div>
</body>
</html>

